@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&family=Open+Sans:wght@400;600&display=swap');

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  line-height: 1.6;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Charm', cursive;
  line-height: 1.275;
}

h1, .h1 {
}

h2, .h2 {
}

h3, .h3 {

}

h4, .h4 {

}

h5, .h5 {
}

h6, .h6 {
}